/* General list styling */
body {
  margin-top: 75px;
}

article {
  min-width: 100px;
}

ul {
  list-style-type: none;
  padding: 0;
}

.center {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
}

.note-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 0.5rem;
  border-bottom: 1px solid #cccccc1f;
}

.note-text {
  flex: 1;
  margin-right: 1rem;
}

.note-actions button {
  margin-left: 0.5rem;
}

/* Buttons styling */
button {
  border-color: rgba(57, 57, 57, 0.854);
  padding: 0.3rem 0.6rem;
  border-radius: 4px;
  cursor: pointer;
  font-size: 0.9rem;
}

.delete {
  background: #e63946;
}
