/* General list styling */
ul {
  list-style-type: none;
  padding: 0.2rem;
}

hr {
  margin: 0;
}

.center {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
}

#root {
  width: 90%;  /* Full width */
  min-width: 300px;
  max-width: 1000px;  /* Restrict the maximum width */
  margin: 75px auto;  /* Auto margins to center horizontally and set top margin */
}

.note-header {
  flex: 1; /* Allow the note text to take up available space */
  display: flex;
  flex-direction: row;
  align-items: center;
  overflow-wrap: break-word; /* Prevent text from overflowing */
  word-break: break-word;
}

.note-item {
  display: flex;
  justify-content: space-between;
  align-items: center; 
  padding: 1rem;
  gap: 0.5rem; /* Add space between note-header and note-actions */
  flex-wrap: wrap; /* Allow items to wrap for smaller screens */
}

.note-actions {
  display: flex;
  gap: 0.5rem;
  flex-shrink: 0; /* Prevent buttons from shrinking */
  margin-left: auto; /* Push buttons to the right */
}

@media (max-width: 770px) {
  .note-item {
    display: inline;
  }
  .note-header {
    flex: none;
    margin-bottom: 0.5rem; /* Add spacing below the text */
    text-align: left
  }
  .note-actions {
    margin-top: 3rem;
    justify-content: flex-start;
    flex-direction: row-reverse;
  }
}

/* Buttons styling */
.note-actions button {
  height: 2rem;
  padding: 0.3rem 0.6rem;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
}

.delete {
  color: white;
  background: #e63946;
  border: none;
}
